.FeedBackAdm {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.FeedBackAdm-Conteudo {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    max-width: 1400px;
    height: 600px;
    color: white;
}

.tabelas {
    overflow: auto;
    width: 100%;
    height: 88%;
}

.verMais {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 20px;
    background-color: #131313;
    color: white;
    margin-left: 10px;
}

.tabela-linha {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: #131313;
    border: #FFC700 2px solid;
    color: white;
    margin-bottom: 10px;
    padding: 0 10px;
    box-sizing: border-box;
    width: 100%;
}

.tabela-linha > h2 {
    font-size: 16px;
}

.avaliacao {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 30%; /* Definir largura para alinhamento consistente */
    box-sizing: border-box; /* Inclui padding e border na largura total */
    text-align: center; /* Alinha o texto centralizado */
}

.avaliacao > h2, .nome > h2 {
    margin: 0; /* Remove margem padrão */
    padding-right: 10px;
    font-size: 16px;
}

.nome{
    max-width: 200px;
    max-height: 20px;
    width: 500px;
    height: 30px;
    margin-bottom: 12px;
}

.estrela {
    width: 20px;
    height: 20px;
}

::-webkit-scrollbar,
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track { 
    width: 8px;
    border: none;
    background: transparent;
}

::-webkit-scrollbar-button,
::-webkit-scrollbar-track-piece,
::-webkit-scrollbar-corner,
::-webkit-resizer {
    display: none;
}

::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: #FFC700;
}

::-webkit-scrollbar-track {
    background-image: url("../../../assets/image/scrollFundoEscuro.png");
    background-repeat: repeat-y;
    background-size: contain;
}

#maismenos {
    height: 20px;
    width: 20px;
    padding-bottom: 12px;
}
