<div class="FeedBackAdm">
    <div class="FeedBackAdm-Conteudo">
        <h1>FEEDBACKS</h1>
        <div class="tabelas">
            <div class="tabela-linha">
                <h2>Nome: </h2>
                <div id="avalizacao">
                    <h2>Avalização:</h2>
                    <img src="../../../assets/image/EstrelaCheia.png" alt="">
                    <img src="../../../assets/image/EstrelaCheia.png" alt="">
                    <img src="../../../assets/image/EstrelaCheia.png" alt="">
                    <img src="../../../assets/image/EstrelaCheia.png" alt="">
                    <img src="../../../assets/image/EstrelaCheia.png" alt="">
                </div>
                <div class="verMais">
                    <h2>Ver Mais</h2>
                    <img id="maismenos" [src]="maismenos" alt="" (click)="AbrirFeed()">
                </div>
            </div>
        </div>
    </div>
</div>