<div class="Cadastro">
    <div class="header">
        <h1>Cadastro de Produtos</h1>
    </div>
    <form action="">
        <div class="inputs">
            <label>Nome</label>
            <input type="text" name="nomeprod" id="nomeprod" placeholder="Nome do produto: " [(ngModel)]="produto.nome">
            <label>Preço</label>
            <input type="text" name="precoprod" id="precoprod" placeholder="Preço: " [(ngModel)]="produto.preco">
            <label>Descrição</label>
            <input type="text" name="descprod" id="descprod" placeholder="Descrição: " [(ngModel)]="produto.descricao">
            <label>Tipo</label>
            <select name="tipoprod" id="tipoprod" [(ngModel)]="produto.tipo">
                <option value="0">Outros</option>
                <option value="1">Comida</option>
                <option value="2">Bebida</option>
            </select>
        </div>
        <div class="wrapper">
            <input type="submit" value="Registrar" (click)="criarProduto()">
        </div>
    </form>
</div>
