<div class="FeedBack">
    <form id="FeedBack-Conteudo">
        <label for="nome">Nome:(Opcional)</label>
        <input type="text" name="nome" id="nome" placeholder="Nome:(Opcional)" [(ngModel)]="denuncia.nome">
        <label for="feedback">FeedBack:</label>
        <textarea style="resize: none;" name="feedback" id="feedback" rows="4" cols="10" required placeholder="Describe yourself here..." [(ngModel)]="denuncia.texto"></textarea> 
        <div style="display: flex; justify-content: center; align-items: center;">
            <input id="Enviar-Feed" type="submit" value="Enviar Denúncia" (click)="criarDenuncia()">
        </div>
    </form>
</div>               