<div class="Login">
  <div class="centro">
      <img src="../../../assets/image/urso branco.png" alt="urso branco">
      <form #loginForm="ngForm">
          <input  placeholder="Login" name="usuario" id="usuario" [(ngModel)]="usuario">
          <input type="password" name="senha" id="senha" placeholder="Senha" [(ngModel)]="senha">
          <div class="wrapper logar">
              <input class="logar" type="submit" value="Logar" (click)="verificarAdm()">
              <mat-icon>portrait</mat-icon>
          </div>
      </form>
  </div>
</div>
<app-footer></app-footer>