<div class="FeedBack">
    <form id="FeedBack-Conteudo">
        <label for="nome">Nome:(Opcional)</label>
        <input type="text" name="nome" id="nome" placeholder="Nome:(Opcional)" [(ngModel)]="feedback.nome">
        <label for="feedback">FeedBack:</label>
        <textarea style="resize: none;" name="feedback" id="feedback" rows="4" cols="10" required placeholder="Escreva seu FeedBack aqui..." [(ngModel)]="feedback.texto"></textarea> 
        <label for="Nota">Nota:</label>
        <div id="Nota">
            <button (click)="avaliarNota(1)"><img id="estrela1" [src]="imagemEstrela1" alt="Nota por Estrela"></button>
            <button (click)="avaliarNota(2)"><img id="estrela2" [src]="imagemEstrela2" alt="Nota por Estrela"></button>
            <button (click)="avaliarNota(3)"><img id="estrela3" [src]="imagemEstrela3" alt="Nota por Estrela"></button>
            <button (click)="avaliarNota(4)"><img id="estrela4" [src]="imagemEstrela4" alt="Nota por Estrela"></button>
            <button (click)="avaliarNota(5)"><img id="estrela5" [src]="imagemEstrela5" src="../../../assets/image/EstrelaCheia.png" alt="Nota por Estrela"></button>
        </div>
        <div style="display: flex; justify-content: center; align-items: center;">
            <input id="Enviar-Feed" type="submit" value="Enviar FeedBack" (click)="criarFeedback()">
        </div>
    </form>
</div>               
