<div class="FeedBack">
    <form id="FeedBack-Conteudo">
        <label for="nome">Nome:(Opcional)</label>
        <input type="text" name="nome" id="nome" placeholder="Nome:(Opcional)">
        <label for="feedback">FeedBack:</label>
        <textarea style="resize: none;" name="feedback" id="feedback" rows="4" cols="10" required placeholder="Describe yourself here..."></textarea> 
        <label for="Nota">Nota:</label>
        <div id="Nota">
            <button><img src="../../../assets/image/EstrelaCheia.png" alt=""></button>
            <button><img src="../../../assets/image/EstrelaCheia.png" alt=""></button>
            <button><img src="../../../assets/image/EstrelaVazia.png" alt=""></button>
            <button><img src="../../../assets/image/EstrelaVazia.png" alt=""></button>
            <button><img src="../../../assets/image/EstrelaVazia.png" alt=""></button>
        </div>
        <div style="display: flex; justify-content: center; align-items: center;">
            <input id="Enviar-Feed" type="submit" value="Enviar FeedBack">
        </div>
    </form>
</div>