<div class="FeedBackAdm">
    <div class="FeedBackAdm-Conteudo">
        <h1>DENÚNCIAS</h1>
        <div class="tabelas-container">
            <div class="tabelas" id="emAberto">
                <h2>Em Aberto</h2>
                <div *ngFor="let denuncia of denunciaAbertaDataSource.data; let i = index" class="tabela-linha" [class.expanded]="isAbertaExpanded[i]">
                    <div class="tabela-fechado">
                        <div class="nome">
                            <h2>Nome: {{ denuncia.nome }}</h2>
                        </div>
                        <div class="avaliacao">
                            <h2>Id: {{ denuncia.id }}</h2>
                        </div>
                        <h2 id="data">Data: {{ denuncia.dataCriacao | date:'dd/MM/yyyy HH:mm' }}</h2>
                        <div class="verMais">
                            <h2>Ver Mais</h2>
                            <img id="maismenos" [src]="isAbertaExpanded[i] ? '../../../assets/image/Menos.png' : maismenos" alt="" (click)="AbrirFeed(i, 'aberta')">
                        </div>
                    </div>
                    <div class="textoFeedBack">
                        <h2 style="color: red;">Status: Em Aberto</h2>
                        <pre>{{ denuncia.texto }}</pre>
                        <div>
                            <h2>Clique abaixo caso essa denúncia já tenha sido resolvida:</h2>
                            <button (click)="fecharDenuncia(denuncia,true)">Resolvido</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tabelas" id="resolvidas">
                <h2>Resolvidas</h2>
                <div *ngFor="let denuncia of denunciaResolvidaDataSource.data; let i = index" class="tabela-linha" [class.expanded]="isResolvidaExpanded[i]">
                    <div class="tabela-fechado">
                        <div class="nome">
                            <h2>Nome: {{ denuncia.nome }}</h2>
                        </div>
                        <div class="avaliacao">
                            <h2>Id: {{ denuncia.id }}</h2>
                        </div>
                        <h2 id="data">Data: {{ denuncia.dataCriacao | date:'dd/MM/yyyy HH:mm' }}</h2>
                        <div class="verMais">
                            <h2>Ver Mais</h2>
                            <img id="maismenos" [src]="isResolvidaExpanded[i] ? '../../../assets/image/Menos.png' : maismenos" alt="" (click)="AbrirFeed(i, 'resolvida')">
                        </div>
                    </div>
                    <div class="textoFeedBack">
                        <h2 style="color: green;">Status: Resolvido</h2>
                        <pre>{{ denuncia.texto }}</pre>
                        <div>
                            <h2>Clique abaixo caso essa denúncia NÃO tenha sido resolvida:</h2>
                            <button (click)="fecharDenuncia(denuncia,false)">Não Resolvido</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
