<div class="Header">
    <div id="cabecalho-total">
        <div id="cabecalho-itens">
            <button (click)="navigateAndScrollToTop('/consulta')" matTooltip="Consultar Produtos"><img id="logo" src="../../../assets/image/urso branco.png" alt="GamblingGuru"></button>
            <div id="cabecalho-opcoes">
                <button (click)="navigateAndScrollToTop('/cadastro')">Cadastrar Produto</button>
                <button (click)="navigateAndScrollToTop('/consulta')">Ver Produtos</button>
                <button (click)="navigateAndScrollToTop('/feedbackAdm')">Ver FeedBacks</button>
                <button (click)="navigateAndScrollToTop('/denunciaAdm')">Ver Denuncias</button>
            </div>
        </div>
        <div id="sair">
            <a routerLink="/"> Sair</a>
        </div>
    </div>
</div>

