<div class="Header">
    <div id="cabecalho-total">
        <div id="cabecalho-itens">
            <a routerLink="/consulta" matTooltip="Consultar Produtos"><img id="logo" src="../../../assets/image/urso branco.png" alt="GamblingGuru"></a>
            <div id="cabecalho-opcoes">
                <a routerLink="/cadastro">Cadastrar Produto</a>
                <a routerLink="/consulta">Ver Produtos</a>
                <a routerLink="/feedbackAdm">Ver FeedBacks</a>
                <a routerLink="/denunciaAdm">Ver Denuncias</a>
            </div>
        </div>
        <div id="sair">
            <a routerLink="/"> Sair</a>
        </div>
    </div>
</div>

