<div class="Header">
    <div id="cabecalho-itens">
        <a routerLink="/"><img id="logo" src="../../../assets/image/urso branco.png" alt="GamblingGuru"></a>
        <div id="cabecalho-opcoes">
            <button (click)="navigateAndScrollToTop()">Cadastrar Produto</button>
            <a routerLink="/cardapio">Ver Produtos</a>
            <button (click)="scrollToBottom()">Ver FeedBacks</button>
            <button (click)="scrollToTop()">Ver Denuncias</button>
        </div>
    </div>
</div>

