<div class="footer">
    <div class="info">
        <div>
            <div class="informacoes">
                <div class="horario divPadrao">
                    <h1>Horário de Funcionamento</h1>
                    <h2>Quinta-feira a partir das 18h</h2>
                    <h2>Sexta-feira a partir das 18h</h2>
                    <h2>Sábado a partir das 18h</h2>
                    <h2>Domingo a partir das 20h</h2>
                </div>
                <div class="contato divPadrao">
                    <h1>Contato</h1>
                    <h2>Telefone: 11 94002-8922</h2>
                    <h2>Email: reservas@bearbar.com</h2>
                    <h2>Rua P. Sherman, 42 - Pinheiros <br>
                        CEP: 00000-000 - São Paulo</h2>
                </div>
            </div>
            <div class="imagens">
                <img src="../../../assets/image/Google_Branco_Transparente.png" alt="Página no Google">
                <img src="../../../assets/image/FacebookBrancoTransparente.png" alt="Facebook Social Media">
                <img src="../../../assets/image/InstagramBrancoTransparente.png" alt="Instagram Social Media">
                <img src="../../../assets/image/WhatsappBranco.png" alt="Whatsapp Contato">
            </div>
        </div>
        <div class="denuncia divPadrao">
            <h1>Denuncia</h1>
            <h2>Teve algum problema ou se sentiu inseguro?<br>
                Nos conte clicando no botão abaixo:
            </h2>
            <a routerLink="/denuncia">Deixe sua denúncia</a>
        </div>
        <div class="feedback divPadrao">
            <h1>Feedback</h1>
            <h2>Nos diga como foi sua experiência no Bear!<br>
                clicando no botão abaixo:
            </h2>
            <a routerLink="/feedback">Deixe seu feedback</a>
        </div>
    </div>
    <div class="copy">
        <h1><mat-icon>copyright</mat-icon>BEAR - Todos os direitos reservados.</h1>
    </div>
</div>