h1{
    padding-left: 10px;
    font-size:  1.2em;
    border-left: #FFC700 4px solid;
    margin-bottom: 25px;
}

a{
    color: white;
    text-decoration: none;
    padding: 10px;
    border: 1px solid white;
}

.imagens{
    display: flex;
    flex: row;
    justify-content: center;
    align-items: center;
}

img{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    max-width: 33px;
    max-height: 33px;
}

.informacoes{
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: top;
}

.divPadrao{
    font-size: 1.5em;
    margin: 30px;
}

.footer{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: aliceblue;
    font-family: 'League Spartan', sans-serif;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 0.8em;
    overflow: hidden;
    height: 100%
}


.info{
    display: flex;
    border-bottom: aliceblue 1px solid;
}

.copy{
    padding-top: 15px;
}

.copy > h1{
    display: flex;
    align-items: center;
    font-size: 1em;
}