<div class="Localizacao">
    <div class="Localizacao-Conteudo">
        <div>
            <div class="Localizacao-Texto">
                <h1>Sobre Nós</h1>
                <h2>Bem-vindo ao The Bear!<br>
                    Localizado no coração da cidade, o The Bear é mais do que um simples bar - é um refúgio acolhedor para todos os amantes de boa companhia,<br>
                    excelente música e bebidas excepcionais. <br>
                    Fundado com a paixão por criar um espaço onde todos se sintam em casa, estamos comprometidos em oferecer uma experiência memorável a cada visita.
                </h2>
                <h2>
                    No The Bear, acreditamos na celebração da diversidade e na união através da partilha de momentos autênticos.<br>
                    Com um ambiente descontraído e uma equipe dedicada, estamos aqui para tornar suas noites inesquecíveis. <br>
                    Desde a seleção cuidadosa de nossas bebidas, incluindo uma variedade de cervejas artesanais, coquetéis clássicos e vinhos selecionados, <br>
                    até a atmosfera vibrante criada por nossa música ao vivo e DJs talentosos, cada detalhe é pensado para proporcionar uma experiência única.
                </h2>
                <h2>
                    Além disso, valorizamos a conexão com a comunidade local e buscamos apoiar artistas, músicos e produtores locais sempre que possível. <br>
                    Queremos que o The Bear seja mais do que apenas um lugar para tomar uma bebida - queremos ser um ponto de encontro para amigos, <br>
                    familiares e colegas, onde novas histórias são criadas a cada encontro.
                </h2>
                <h2>
                    Junte-se a nós no The Bear e faça parte desta jornada emocionante. Estamos ansiosos para recebê-lo em nossa casa e compartilhar momentos especiais juntos.
                </h2>
                <h2>
                    Cheers,<br>
                    A Equipe do The Bear                    
                </h2>
            </div>
        </div>
</div>