<div class="Header">
    <div id="cabecalho-itens">
        <a routerLink="/" matTooltip="Volta para a página inicial"><img id="logo" src="../../../assets/image/urso branco.png" alt="Logo"></a>
        <div id="cabecalho-opcoes">
            <button (click)="navigateAndScrollToTop()">Home</button>
            <a routerLink="/cardapio">Cardapio</a>
            <button (click)="scrollToBottom()">Contato</button>
            <button (click)="scrollToTop()">Voltar ao Topo</button>
        </div>
    </div>
  </div>
  