
*{
    font-size: 20px;
}

.Header{
    position: fixed;
    background-color: black;
    width: 100vw;
    border-bottom: #FFC700 2px solid;


}

#cabecalho-itens {
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: start;
    max-width: 1800px;
    width: 100%;
    padding-right: 10px;
}

#cabecalho-opcoes{
    display: flex;
    padding-left: 20px;
    max-width: 300px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

#logo {
    width: 66px;
    height: 77px;
}

a, button{
    border: none;
    background: none;
    text-decoration: none;
    color: white    ;
}